body {
  line-height: 1.5rem;
  background-image: url(../img/cvbg.png);
  background-color: rgba(29, 33, 44, 0.856);
  background-blend-mode: darken;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: black;
  margin: 0 2em 0 2em;
}

main > h2,
section > h2,
footer > h2 {
  margin-bottom: 1em;
  border: 1px solid black;
  background-color: rgba(41, 32, 14, 0.877);
  padding: 1em;
  color: white;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
}

/* les img font au max la taille de la balise parente */
img {
  max-width: 100%;
}

header {
  display: flex;
  align-items: center;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.479);
  margin-bottom: 2em;
}

#photo {
  margin: 1em;
}

@media screen and (min-width: 1200px) {
  #edu,
  #exp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  article {
    flex-basis: 45%;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #contact,
  #mecontacter {
    flex-basis: 48%;
  }
}

article,
ul,
form {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.479);
  padding: 1em;
  margin-bottom: 2em;
}

ul {
  line-height: 2em;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.479);
  margin-bottom: 2em;
  padding: 1em;
  line-height: 2em;
}

input {
  padding: 0.5em;
}

textarea {
  resize: vertical;
  padding: 0.5em;
}

#sendform {
  margin-top: 1em;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  position: absolute !important;
}

[class^="icon-"],
[class*=" icon-"] {
  position: relative !important;
}

.icon-right-circle {
  left: -20px;
}
